html, body {
  margin: 0;
  height: 100%;
  background-color: #293133;
  font-family: "Lato", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

#calculator {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  box-shadow: 3px 3px 20px;
  background: lightgray;
}

#display {
  text-align: right;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
}

#buttons {
  width: 100%;
}

#numbers {
  float: left;
  width: 165px;
}

#operators {
  float: right;
  width: 120px;
}

button {
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 20px;
}

#zero, #decimal {
  float: right;
}

#clear, #equals {
  width: 100px;
}

#operators button {
  float: right;
}